include assets/data/db
include __catalogFilter1

.catalogPage__outer.w0
  .catalogPage.w1
    nav.catalogMenu__outer
      a.catalogMenuTopLink(href="#") Новинки
      .catalogMenu__title Одежда
      
      ul.catalogMenu
        li.indent0(style='font-weight: 700;')
          a(href='/ru/P/5ec630b97ef1530ad0c6c924?fl=5eb26bb4bca593111756fa18,5eb24861bca593111756f981,5ec3c68d09cd42185d335608&f=')
            span верхняя одежда
            span 15
        li.indent1(style='font-weight: 400;')
          a(href='/ru/P/5ec630b97ef1530ad0c6c924?fl=5eb26bb4bca593111756fa18&f=')
            span ветровка
            span 0
        li.indent1(style='font-weight: 400;')
          a(href='/ru/P/5ec630b97ef1530ad0c6c924?fl=5eb24861bca593111756f981&f=')
            span куртка
            span 1
        li.indent1(style='font-weight: 400;')
          a(href='/ru/P/5ec630b97ef1530ad0c6c924?fl=5ec3c68d09cd42185d335608&f=')
            span пальто
            span 14
        li.indent0(style='font-weight: 700;')
          a(href='/ru/P/5ec630b97ef1530ad0c6c924?fl=5ec3dcff09cd42185d335622,5eb2778abca593111756fa51,5ec3daea09cd42185d33561f,5eb2bd63e72fe108d093eeab,5eb400258474a1142d79d3e6&f=')
            span верх
            span 14
        li.indent1(style='font-weight: 400;')
          a(href='/ru/P/5ec630b97ef1530ad0c6c924?fl=5ec3dcff09cd42185d335622&f=')
            span блузка
            span 2
        li.indent1(style='font-weight: 400;')
          a(href='/ru/P/5ec630b97ef1530ad0c6c924?fl=5eb2778abca593111756fa51&f=')
            span джемпер
            span 6
        li.indent1(style='font-weight: 400;')
          a(href='/ru/P/5ec630b97ef1530ad0c6c924?fl=5ec3daea09cd42185d33561f&f=')
            span жакет
            span 3
        li.indent1(style='font-weight: 400;')
          a(href='/ru/P/5ec630b97ef1530ad0c6c924?fl=5eb2bd63e72fe108d093eeab&f=')
            span жилет
            span 2
        li.indent1(style='font-weight: 400;')
          a(href='/ru/P/5ec630b97ef1530ad0c6c924?fl=5eb400258474a1142d79d3e6&f=')
            span кардиган
            span 1
        li.indent0(style='font-weight: 700;')
          a(href='/ru/P/5ec630b97ef1530ad0c6c924?fl=5eb246c3bca593111756f978,5eb24700bca593111756f979,5eb535018474a1142d79d518,5eb53b428474a1142d79d522,5eb25e8bbca593111756f9f8&f=')
            span штаны
            span 18
        li.indent1(style='font-weight: 400;')
          a(href='/ru/P/5ec630b97ef1530ad0c6c924?fl=5eb246c3bca593111756f978&f=')
            span брюки
            span 16
        li.indent1(style='font-weight: 400;')
          a(href='/ru/P/5ec630b97ef1530ad0c6c924?fl=5eb24700bca593111756f979&f=')
            span джинсы
            span 0
        li.indent1(style='font-weight: 400;')
          a(href='/ru/P/5ec630b97ef1530ad0c6c924?fl=5eb535018474a1142d79d518&f=')
            span леггинсы
            span 0
        li.indent1(style='font-weight: 400;')
          a(href='/ru/P/5ec630b97ef1530ad0c6c924?fl=5eb53b428474a1142d79d522&f=')
            span лосины
            span 0
        li.indent1.active(style='font-weight: 400;')
          a(href='/ru/P/5ec630b97ef1530ad0c6c924?fl=5eb25e8bbca593111756f9f8&f=')
            span шорты
            span 2
      
      
      
      
      
      
      
      
      //- ul.catalogMenu
      //-   each val in db_catalogMenu
      //-     li
      //-       a(href="")
      //-         span!= val.title
      //-         span!= val.counter 

        //- each name in ['Главная', 'О компании', 'Услуги', 'Каталог', 'Контакты']
        //-   li
        //-     a(href="#")= name 

    
    //- each val in db_array
    //-   .array_item_block(id=val.id)
    //-       .item_title!= val.title
    //-       .item_content!= val.content



    .catalog__outer
      +catalogFilter1
      .catalog
        each val in db_array
          .tovarCard__area(id=val.id)
            .tovarCard__wrapper
              a.tovarCard(href='#')
                .tovarCard__imgOuter
                  .tovarCard__img
                    .tovarCard__fav
                      i.icon-favorit1.favOff
                      i.icon-favorit2.favOn
                    .tovarCard__imgBox
                      img.tovarCard__imgImg(src!=val.img, alt='')
                    if val.discount
                      .tovarCard__priceDiscount!=val.discount
                .tovarCard__info
                  .tovarCard__infoTop
                    .tovarCard__priceArea
                      if val.oldPrice
                        .tovarCard__priceOld!= val.oldPrice
                          span ₽
                        .tovarCard__price.tovarCard__price_red!= val.price
                          span ₽
                      else
                        .tovarCard__price!= val.price
                          span ₽
                    //- .tovarCard__action
                    //-   button.tovarCard__call
                    //-     i.icon-phone1
                    //-   button.tovarCard__buy
                    //-     i.icon-cart1
                  .tovarCard__infoTitle
                    span!= val.content
                    span.tovarCard__infoTitleSlash /
                    span!= val.title
                .tovarCard__moreArea
                  .tovarCard__more
                    .tovarCard__moreInfo
                      span размеры: 
                      span S, L, XL, XXL
                    .tovarCard__moreInfoLink Подробнее...
                

      
